<nav>
	<div class="nav-wrapper">
			<a href="#" class="brand-logo">mGage Test</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><%= link_to 'List of Campaigns', :root %></li>
			</ul>
	</div>
</nav>
